name: Welcome First-Time Contributors

on:
  issues:
    types: [opened]
  pull_request_target:
    types: [opened]

permissions:
  issues: write
  pull-requests: write

jobs:
  welcome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/first-interaction@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: "Thanks for opening your first issue! We'll take a look as soon as possible. If this is a bug, please make sure you've included steps to reproduce."
          pr-message: "Thanks for your first pull request! A maintainer will review it soon. Please make sure all CI checks pass."
